body{
    margin-bottom: 80px;
}

.hover-zoom2{
    transition: .15s;
}

.hover-zoom2:hover{
    transform: scale(1.05);
}

a{
    text-decoration: none;
}

.page-main-container{
    max-width: 1344px;
    padding: 0 50px;
    margin: 0 auto;
}

.page-brand-img{
    width: 80%;
    border-radius: 10px;
}

.navbar-brand{
    margin-right: 0;
}

.navbar-brand:hover{
    background: transparent !important;
}

.btn-outline-success{
    background: rgb(80, 80, 80);
    color: #fff;
    border: none;
    box-shadow: 0 0 3px 0 rgba(255, 255, 255, 0.4);
}

.btn-outline-success:hover {
    background: #000;
    box-shadow: none;
}


@media(max-width: 500px){
    .page-main-container{
        padding: 0 10px;
    }
}


/*login form*/
.page-login-form{
    color: black;
}

/*gb image*/

.page-bg-img{
    position: fixed;
    z-index: -10;
    opacity: 0.05;
}